<div class="hero-unit">
  <h1>欢迎来到Microblog</h1>
  <p>Microblog是一个基于Node.js的微博系统。</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-large" href="/reg">立即注册</a>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Carbo 说</h2>
    <p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
  </div>
  <div class="span4">
    <h2>BYVoid 说</h2>
    <p>
      Open Chinese Convert (OpenCC)是一个开源的中文简转繁转换项目，
      致力于制作高质量的基于统计预料的简转繁转换词库。
      还提供函数库（libopencc)
    </p>
  </div>
  <div class="span4">
    <h2>佛镇 说</h2>
    <p>中州云输入法引擎</p>
  </div>
</div>
